<style>
    .title {
        text-align: center;
        font-weight: bold;
        font-size: 350%;
    }

    .text-center {
        text-align: center;
    }

    .text-left {
        text-align: left;
    }

    .text-right {
        text-align: right;
    }

</style>

{% block content %}

    <div class="title">
        The Report
    </div>

    <div class="text-right">
        <strong>Organization: </strong> {{ report.organization }}
        <br>
        <strong>Reported: </strong>: </strong> {{ report.reported_at }}
        <br>
        <strong>Created: </strong> {{ report.created_at }}
        <br>
    </div>

    <div class="text-center">
        For item in inventory:
        <br>
        {{ report.inventory|length }} item(s)
        <br>
        {% for i in report.inventory %}
            <strong>{{ i.name }}</strong>: {{ i.price }}
            <br>
        {% endfor %}
    </div>

{% endblock %}