{% extends "index.html" %}

{% block title %}
    Suade Reports
{% endblock %}


{% block content %}
    <div class="container">
        <div class="starter-template">
            <h1>All Reports</h1>

            <table class="table">
                {% for r in reports %}
                    <tr>
                        <th>
                            <a href="{% url 'report:view_report' report_id=r.id %}">{{ r.id }}</a>
                        </th>

                        <th><a href="{% url 'report:view_pdf_report' report_id=r.id %}">PDF Report</a>
                        </th>

                        <th><a href="{% url 'report:view_xml_report' report_id=r.id %}">XML Report</a>
                        </th>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>
{% endblock %}