{% extends "index.html" %}

{% block title %}
    Suade Reports {{ report.id }}
{% endblock %}


{% block content %}
    <div class="container">
        <div class="starter-template">
            <h1>This is report {{ report.id }}</h1>
        </div>

        <P>
            <a href="{% url 'report:view_pdf_report' report_id=report.id %}">PDF Report</a>
            <br>
            <a href="{% url 'report:view_xml_report' report_id=report.id %}">XML Report</a>
        </P>
    </div>
{% endblock %}